{% extends 'base.html.twig' %}

{% block title %}Mettre à jour la figurine caracteristique{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Mettre à jour la figurine caracteristique</h1>

            <form method="post" action="{{ path('update2_by_ref', {'ref': figurine.figurineReference}) }}" class="box">
                {{ form_row(form.figurine_reference, { 'attr': {'readonly': 'readonly', 'style': 'background-color: #f5f5f5; color: gray;'} }) }}
                {{ form_row(form.figurine_nom) }}
                {{ form_row(form.figurine_personnage) }}
                {{ form_row(form.figurine_taille) }}
                {{ form_row(form.figurine_date_sortie) }}
                {{ form_row(form.figurine_popid) }}
                {{ form_row(form.figurine_chase) }}
                {{ form_row(form.collection_id) }}
                <div class="buttons">
                {{ form_row(form.save) }}
                {{ form_row(form.annuler) }}
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </section>
{% endblock %}
