{% extends 'base.html.twig' %}

{% block title %}Créer une collection{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Créer une collection</h1>

            <form method="post" action="{{ path('create_collection2')}}" class="box">
                {{ form_start(form) }}
                {{ form_row(form.collection_nom) }}
                {{ form_row(form.collection_licence) }}
                {{ form_row(form.collection_categorie) }}
                <div class="buttons">
                    {{ form_row(form.save) }}
                    {{ form_row(form.annuler) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form)}}
            </form>
        </div>
    </section>
{% endblock %}
